/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
	font-family: "RobotoBold";
	src: url('../fonts/RobotoBold/RobotoBold.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), /* Pretty Modern Browsers */ 
       url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoCondensedBold";
	src: url('../fonts/RobotoCondensedBold/RobotoCondensedBold.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/RobotoCondensedBold/RobotoCondensedBold.woff') format('woff'), /* Pretty Modern Browsers */ 
       url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoCondensedRegular";
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'), /* Pretty Modern Browsers */ 
       url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url('../fonts/RobotoLight/RobotoLight.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), /* Pretty Modern Browsers */ 
       url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoRegular";
	src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), /* Pretty Modern Browsers */ 
       url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FontAwesome";
	src: url('../fonts/FontAwesome/fonts/fontAwesome.eot') format('eot'), /* Super Modern Browsers */
       url('../fonts/FontAwesome/fonts/fontAwesome.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/FontAwesome/fonts/fontAwesome.woff2') format('woff2'),
			 url('../fonts/FontAwesome/fonts/fontAwesome.otf') format('otf'),
			 url('../fonts/FontAwesome/fonts/fontAwesome.svg') format('svg'), 
       url("../fonts/FontAwesome/fonts/fontAwesome.ttf") format("truetype");/* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
}

font-face {
  font-family: 'FontAwesome';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}